<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="setempler, Sven, Templer, software, R, data analysis, bioinformatics">

  <title>
    {% if page.title %}
      {{ page.title | escape }}
    {% else %}
      {{ site.title | escape }}
    {% endif %}
  </title>

  <meta name="description" content="{% if page.excerpt %}
      {{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}
    {% else %}
      {{ site.description }}
    {% endif %}">

  <link rel="stylesheet" 
        href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" 
        href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" 
        href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
  <link rel="mask-icon" href="/images/mask.svg" color="green">

  <!-- 
    from twitter:
  <link rel="mask-icon" sizes="any" 
        href="https://abs.twimg.com/a/1457566999/img/t1/favicon.svg" color="#55acee">
  <link href="//abs.twimg.com/favicons/favicon.ico" rel="shortcut icon" type="image/x-icon">
    and github:
  <link rel="mask-icon" href="https://assets-cdn.github.com/pinned-octocat.svg" color="#4078c0">
  <link rel="icon" type="image/x-icon" href="https://assets-cdn.github.com/favicon.ico">
  -->

</head>
